---
layout: archive
permalink: /tags/
title: "Tags"
author_profile: true 
---

{% capture written_tag %}'None'{% endcapture %}
{% include base_path %}

{% assign tag_array_local = site.tag_array %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% for post in collection.docs %}
      {% for tag in post.tags %}
        {% if tag != written_tag %}
          {% assign tag_array_local = tag_array_local | push: tag %}
        {% endif %}
        {% capture written_tag %}{{ tag }}{% endcapture %}
      {% endfor %}
    {% endfor %}  
  {% endunless %}
{% endfor %}

{% assign sortedtags = tag_array_local | uniq | sort %}


{% for tag_super in sortedtags %}
 <h2 id="{{ tag_super | slugify }}" class="archive__subtitle"><a href="#{{ tag_super | slugify }}" class="btn btn--inverse">{{ tag_super }}</a></h2>
  {% for collection in site.collections %}
    {% for post in collection.docs %}
      {% unless collection.output == false or collection.label == "posts" or post.position == "hidden" %}
        {% if post.tags contains tag_super %}
          {% include archive-single.html %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
{% endfor %}
