<script src="{{ base_path }}/assets/js/main.min.js"></script>
<script src="{{ base_path }}/assets/js/scrollmenu.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

<!-- material-scrolltop button -->
<button class="material-scrolltop" type="button"></button>

<!-- material-scrolltop plugin -->
<script src="{{ base_path }}/assets/js/material-scrolltop.js"></script>

<!-- Initialize material-scrolltop with (minimal) -->
<script>
    $('body').materialScrollTop();
</script>
